/* Links */
a {
  color: hsla(0, 1%, 10%, 1);
  text-decoration: none;
}

/* Custom default button */
/*.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; 
  background-color: #fff;
  border: .05rem solid #fff;
}*/

.ghost-font {
  color: transparent;
  transition: linear .8s;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 6px;
  line-height: 53px;
  font-size: 1.1em;
}

body {
  color: hsla(0, 0%, 20%, 0.81);
  /*color: transparent;*/
  opacity: .98;
  text-align: center;
  text-shadow: 0.6rem .7rem .26rem rgba(0,0,0,.75);
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  background: url("bkg.jpg") center no-repeat fixed;
  background-size: cover;
  vertical-align: top;
  display: table;
}

#vid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
}

/* Padding for spacing */
.inner {
  position: fixed;
  top: 24%;
  width: 100%;
}

.rotated {
  transform: rotate(90deg);
}

.menu {
  position: fixed;
  float: left;
  left: 3%;
  font-size: 1.5em;
  text-align: left;
}

.dropdown {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}

.dropdown li{
  font-size: .7em;
  border-bottom: 1px solid black;
}

.nav-mastfoot .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  background-color: transparent;
  border-bottom: .12rem solid transparent;
}

.nav-mastfoot .nav-link:hover,
.nav-mastfoot .nav-link:focus {
  border-bottom-color: hsla(0, 1%, 20%, .6);
}

.nav-mastfoot .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-mastfoot .active {
  color: #fff;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.mastfoot {
  color: rgba(255,255,255,.5);
}

/* Start the vertical centering */
.site-wrapper-inner {
  vertical-align: middle;
}

/* Handle the widths */
.mastfoot,
.mastfoot,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

.mastfoot,
.mastfoot,
.cover-container {
  position: fixed;
  width: 100%;
  bottom: 8%;
  width: 100%;
}

/* Remove the video from mobile */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    video {
        display:none;
    }
}