/* prevents font scaling on rotation...a safari thing??? */ 
* {
  -webkit-text-size-adjust: 100%; 
}

html,
body {
  height: 100%;
  width: 100%;
  /*font-family: 'Julius Sans One', sans-serif;*/
  font-family: 'Poiret One', sans-serif;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 53px;
  font-size: 1.1em;
}

body {
  color: hsla(0, 0%, 20%, 0.81);
  opacity: .98;
  text-align: center;
  text-shadow: 0.6rem .7rem .26rem rgba(0 ,0 ,0 , .80);
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  background: url("assets/bkg.jpg") center no-repeat fixed;
  background-size: cover;
  vertical-align: top;
  display: table;
  margin: 0;
}

h1 {
  font-size: 1.9em;
  font-weight: normal;
  line-height: 93px;
}

a {
  color: hsla(0, 1%, 10%, 1);
  text-decoration: none;
}

a.hamburger:before {
  content: '\25BD';
  font-size: 1.5em;
  font-weight: lighter;
}

#vid { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  overflow: hidden;
}

.vid-stop {
  display: none;
}

.ghost-font {
  color: transparent;
  transition: ease-in-out 1.4s;
  /*margin: 0 auto;*/
  /*width: 45%;*/
  /*border-top: 1px rgba(101, 100, 100, 0.38) solid;
  border-bottom: 1px rgba(101, 100, 100, 0.38) solid;*/
}

.ghost-font-slow {
  color: transparent;
  transition: ease-in-out 1.5s;
}

.font-erase {
  color: transparent;
  text-shadow: none;
  transition: ease-in-out 1.4s;
}

/*.easing {
  transition: ease-in-out .5s;
}*/

/* Padding for spacing */
.inner {
  position: fixed;
  top: 24%;
  width: 100%;
}

.menu {
  position: fixed;
  float: left;
  left: 5%;
  font-size: 1.5em;
  text-align: left;
  top: 6%;
  /*z-index: 10;*/
}

.dropdown {
  padding: 0;
  margin: 0;
  font-weight: bold;
  list-style: none;
  display: none;
}

.dropdown li {
  font-size: .7em;
}

.underline {
  border-bottom-color: hsla(0, 1%, 20%, .6);
}

.nav-mastfoot .nav-link {
  /*text-align: center;*/
  /*width: 0px;
  height: 0px;
  border-style: inset;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent rgba(106, 104, 106, 0.49); */
  /*width: 0;
  height: 0;
  border-bottom: 104px solid rgba(106, 104, 106, 0.49);
   104 = 120 * 0.866 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
}*/
  padding: .25rem 0;
  font-weight: bold;
  font-size: 1.1em;
  background-color: transparent;
  border-bottom: .12rem solid transparent;
}

/*.nav-mastfoot a {
  text-align: center;
    top: 50px;
    left: -47px;
    position: relative;
    width: 93px;
    height: 93px;
    margin: 0px;
}*/

.nav-mastfoot .nav-link:hover,
.nav-mastfoot .nav-link:focus {
  border-bottom-color: hsla(0, 1%, 20%, .6);
}

/*.dropdown li {
  border-bottom-color: hsla(0, 1%, 20%, .6);
}*/

.nav-mastfoot .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-mastfoot .active {
  color: #fff;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}

.mastfoot {
  color: rgba(255,255,255,.5);
}

/* Start the vertical centering */
.site-wrapper-inner {
  vertical-align: middle;
}

/* Handle the widths */

/*.mastfoot,
.cover-container {
  width: 100%;  Must be percentage or pixels for horizontal alignment 
}*/

.mastfoot,
.cover-container {
  position: fixed;
  width: 100%;
  bottom: 8%;
  width: 100%;
}

/* off canvas sidebar */

/*.triangle-to-go {
  display: none;
}*/

/* media time */
@media only screen and (min-width: 768px) {
  .cover-heading-top,
  .cover-heading-bottom {
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    padding: 1px 15px;
  }

  .cover-heading-top:hover,
  .cover-heading-bottom:hover {
    color: hsla(0, 1%, 10%, 1);
  } 

  .bye-bye-border {
    border: 0 solid transparent;
    transition: ease-in-out 1.4s;
  }

  /*.sidebar {
    display: none;
  }*/
}

@media only screen and (min-width: 736px) {
  .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 736px) {
  .menu-to-go {
    position: fixed;
    float: left;
    left: 5%;
    /*font-size: 1.5em;*/
    text-align: left;
    top: 4%;
  }

  /*a.triangle-to-go:before {
    content: '\25B3';
    font-size: 1.5em;
    font-weight: lighter;
    opacity: 0;
    transition: opacity 1s ease;
  }*/

  a.triangle-to-go:after {
    content: '\25B3';
    font-size: 2em;
    font-weight: lighter;
    opacity: 1;
    transition: 0.5s;
  }

  a.triangle-to-go.hidden:after {
    /*color: transparent;*/
    opacity: 0;
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -moz-transition: opacity 0.7s;
    -ms-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;
    /*content: none;*/
  }

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background: hsla(0, 1%, 20%, .8);
    width: 60%;
    overflow-x: hidden;
    text-align: left;
    z-index: 10;
    transition: ease .5s;
    -webkit-transition: ease .5s;
    -moz-transition: ease .5s;
    -ms-transition: ease .5s;
    -o-transition: ease .5s;
    transform: translateX(-101%);
  }

  .sidebar-visible {
    transform: translateX(0%);
  }

  .sidebar-mask {
    position: fixed;
    height: 100%;
    width: 100%;
    background: hsla(0, 1%, 1%, .7);
    left: 0;
    top: 0;
    /*opacity: .1;*/
    visibility: hidden;
    z-index: 5;
    transition: all .1s;
    transform: translateZ(0);
  }

  .sidebar-mask-visible {
    visibility: visible;
    opacity: .9;
  }

  .sidebar-items {
    line-height: 42px;
    top: 5%;
    position: fixed;
  }

  .close {
    position: fixed;
    /*left: 11%;*/
    /*float: right;*/
    right: 8%;
    top: 3%;
    font-size: 3.5em;
    font-weight: lighter;
    /*color: #0e0e0e;*/
    color: hsla(0, 0%, 88%, 0.42);
    /*margin-top: 13px;*/
    /*margin-right: 20px;*/
    z-index: 20;
  }

  .sidebar-items a {
    font-size: 0.6em;
    /*color: #e3e3e3;*/
    color: hsla(0, 0%, 88%, 0.72);
  }

  .sidebar-items li {
    display: block;
    list-style: none;
    /*line-height: 70px;*/
  }

  .hamburger {
    display: none;
  }

  .menu {
    display: none;
  }

  .mastfoot {
    display: none;
  }


}

 /*slightly lower position on mobile */
@media only screen and (max-width: 768px) {
  .inner {
    position: fixed;
    top: 20%;
    width: 100%;
  }
}

/*adjust fonts for phones*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  h1 {
    line-height: 55px;
    font-size: 3.4em;
    font-weight: bold;
  }    

  .inner {
    font-size: 7px;
    line-height: 35px;
    position: fixed;
    top: 27%;
    width: 100%;
  }

  .nav-mastfoot .nav-link {
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 6px;
  }

  .mastfoot {
    display: none;
    bottom: 5%;
  }

  .dropdown li {
    font-size: 10px;
    border-bottom: none;
    line-height: 27px;
  }

  .menu {
    font-size: 20.8px;
    top: 4%;
  }

  video {
    display: none;
  }
}